body {
    width: 100%;
    background-color: var(--background-body);
    color: var(--text-primary);
    margin: 0 auto;
    font-family: arial;
    display: flex;
    flex-direction: column;
  
}

.main-section {
    width: 100%;
    height: 750px;
    /* border: 1px solid red; */
    margin: 0 auto;
      font-family: "Inter", sans-serif;

    &__catalog {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

&__filter {
    border-radius: 10px;
    background-color: var(--background-color);
    height: 35%;
    width: 20%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // border: red 1px solid;

    &-options {
        font-family: "Geologica", sans-serif;
        // border: red 1px solid;
        width: 100%;
        height: auto;
        ul {
            display: flex;
        flex-direction: row;
        list-style: none;
            padding-inline-start: 0px;
            gap: 10px;

            li {
                background-color: var(--tag-background-color);
                border: var(--border-color-light) 1px solid;
                padding: 5px 10px;
                box-sizing: border-box;
                width: auto;
                height: 35px;
                border-radius: 10px;
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 2px;
                color: var(--tag-text-color);


                
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: transform 0.2s ease-in-out;
                        background:
                            linear-gradient(var(--tag-background-color), var(--tag-background-color)) padding-box,
                                linear-gradient(var(--main-gradient)) border-box;


                     i{
                        color: var(--tag-text-hover-color);
                    }

                    span {
                        color: var(--tag-text-hover-color);
                    }
                }
            }
        }
        
    }

    &-search {  
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 0px 10px 10px 0px;
            background-color: var(--search-button-background-color);
            color: var(--text-color);
            border: 1px solid var(--border-color-light);
            border-left: none;
            
            border: 1px solid rgba(128, 128, 128, 0.303);
            border-left: none;
            // border-right: none;
        }

        button:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }

        input {
            width: 90%;
            height: 35px;
            border-radius: 10px 0px 0px 10px;
            border: none;
            background-color: var(--input-background-color);
            border: 1px solid rgba(128, 128, 128, 0.303);
            border-right: none;
            padding-left: 15px;
            box-sizing: border-box;
            font-size: 12px;
            color: var(--text-color);
            font-family: "Inter", sans-serif;
            font-weight: 400;
        }
    }
}

.catalog__card{
    align-items: center;
    // border: 10px solid white;
    width: 310px;
    height: 470px;
    background-color: var(--catalog-card-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 25px;
    margin: 10px 10px;
    box-sizing: border-box;
}

.item__info {
    background-color: var(--container-background-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    height: auto;
}

.item__details{
    color: var(--secondary-text-color);
    font-size: var(--p-detail-size);
    font-family: var(--p-detail-font);
}

.item__details-date{
    color: var(--secondary-text-color);
    font-size: var(--p-detail-size);
    font-family: var(--p-detail-font);
    margin-right: 10px;
}

&__overview {
    /* background-color: #121212; */
    width: 100%;
    border-radius: 10px;
    gap: 25px;
    align-content: flex-start;
    // border: 1px solid red;
    overflow-y: auto;

&::-webkit-scrollbar {
    width: 3px;
}
&::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 5px;}
&::-webkit-scrollbar-track {
    background: transparent;
}

}




}




.item {
    height: auto;
    width: 90%;
    background-color: #121212;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    &__image {
        width: 200px;
        background-color: #3B3B3B;
        height: 150px;
        min-height: 150px;
        border-radius: 10px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8a8a8a
    }


    &__title {
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__creator {
        color: #3B3B3B;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        &-date {
            color: #3B3B3B;
            font-size: 0.8rem;
        }

        
        }
        
    }
.detail-button {
            position: relative;
            background:var(--main-gradient);
            width: 110px;
            height: 40px;
            border: none;
            color: white;
            font-weight: 600;
            border-radius: 10px;
              font-family: "Inter", sans-serif;
        }

.detail-button::before{
    content: "";
        position: absolute;
        inset: 0; /* geeft breedte + hoogte */
        border: 2px dashed var(--primary-button-hover-border-color);
        border-radius: inherit;

        clip-path: polygon(
            0% 0%, 0% 0%,   /* startpunt */
            0% 0%, 0% 0%
    );

    transition: clip-path 0.6s ease;
}

.detail-button:hover{
    cursor: pointer;
    background: transparent;
}

.detail-button:hover::before{
    clip-path: polygon(
    0% 0%, 100% 0%,   /* boven */
    100% 100%, 0% 100% /* rechts → onder → links */
);
}
