.dashboard-main-section {
    // border: 1px solid red;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: var(--regular-container-padding);
    justify-content: space-between;
    margin: 0 auto 50px auto;
    width: 1420px;

    i {
        color: #313131;
        padding-right: 10px;
    }

    h3 {
        font-family: var(--subtitle-font);
        font-weight: 500;
        margin: 5px 0 10px 0;
    }



    &__ready {
        width: 25%;
        background-color: var(--background-color);
        height: 100%;
        border-radius: 10px;
        padding: var(--regular-container-padding);
        box-sizing: border-box;
    }

    &-center {
        width: 40%;
        height: 100%;
        border-radius: 10px;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px;
        // justify-content: space-between;
    }


}

.queue {
    width: 25%;
    background-color: var(--background-color);
    height: 100%;
    border-radius: 10px;
    padding: var(--regular-container-padding);
    box-sizing: border-box;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 90%;
        max-height: 90%;
        overflow-y: auto;

        /* Custom Scrollbar */
        scrollbar-width: thin;
        scrollbar-color: rgba(150, 150, 150, 0.4) transparent;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(150, 150, 150, 0.4);
            border-radius: 10px;
        }

        &__box {
            // border: 1px solid red;
            height: 90px;
            flex-shrink: 0;
            background-color: var(--container-background-color);
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 12px;
            justify-content: space-between;
            // cursor: pointer;

            &__left {
                display: flex;
                flex-direction: column;
                gap: 0;
                width: 50%;
                // border: 1px solid blue;
                justify-content: space-between;
                height: 100%;

                &--name {
                    font-weight: 600;
                }

                &--date {
                    color: var(--secondary-text-color);

                }

                &--state {
                    background-color: var(--secondary-gray-color);
                    width: 90px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--small-borrder-radius);
                    font-weight: 600;
                }

                &--id {
                    color: var(--secondary-text-color);
                }

                span {
                    font-size: 14px;
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0;
                justify-content: space-between;
                height: 100%;
                width: 50%;
                // border: 1px solid blue;
            }
        }
    }
}

.queue-item-state {

    &--pending,
    &--accepted,
    &--denied {
        position: relative;
        border-radius: var(--regular-container-padding);
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
        }
    }

    &--pending {
        &::after {
            background: linear-gradient(90deg, #fbbf24, #f97316);
        }
    }

    &--accepted {
        &::after {
            background: linear-gradient(90deg, #4ade80, #16a34a);
        }
    }

    &--denied {
        &::after {
            background: linear-gradient(90deg, #f87171, #dc2626);
        }
    }
}

.ready__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 90%;
    max-height: 90%;
    overflow-y: auto;

    /* Custom Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 150, 150, 0.4) transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(150, 150, 150, 0.4);
        border-radius: 10px;
    }

    &__box {
        // border: 1px solid red;
        height: 90px;
        flex-shrink: 0;
        background-color: var(--container-background-color);
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 12px;
        justify-content: space-between;
        // cursor: pointer;

        &__left {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 50%;
            // border: 1px solid blue;
            justify-content: space-between;
            height: 100%;

            &--name {
                font-weight: 600;
            }

            &--date {
                color: var(--secondary-text-color);
            }

            &--state {
                background-color: var(--secondary-gray-color);
                width: 90px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--small-borrder-radius);
                font-weight: 600;
            }

            &--id {
                color: var(--secondary-text-color);
            }

            span {
                font-size: 14px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0;
            justify-content: space-between;
            height: 100%;
            width: 50%;
            // border: 1px solid blue;
        }
    }
}

.ready-item-state {
    position: relative;
    border-radius: var(--regular-container-padding);
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: var(--main-gradient);
    }
}

.section-small {
    background-color: var(--background-color);
    // padding: var(--regular-container-padding);
    padding: 0 0 0 10px;
    border-radius: 10px;
}

.center {


    &-overzicht {
        // border: 1px solid red;
        width: 100%;


        &-container {
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            row-gap: 20px;

            &-box {
                width: calc(50% - 10px);
                // border: 1px solid blue;
                height: 140px;
                border-radius: 10px;
                box-sizing: border-box;
                padding: var(--regular-container-padding);
                background: var(--main-gradient);
                text-align: right;
                color: white;

                &__content {
                    display: flex;
                    // border: 1px solid red;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        width: 50%;
                    }

                    i {
                        color: var(--text-color);
                        padding: 0;
                        font-size: 22px;
                    }

                    h3 {
                        font-size: 32px;
                        margin: 0;
                    }

                    span {
                        font-size: 12px;
                        font-weight: 300;
                    }

                }

                &:nth-child(even) {
                    text-align: left;
                    background: var(--main-gradient-mirrored);

                    .center-overzicht-container-box__content {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    &-notis {
        background-color: var(--background-color);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: var(--regular-container-padding);
        box-sizing: border-box;

        &__container {
            display: flex;
            flex-direction: column;
            max-height: 85%;
            // border: 1px solid blue;
            gap: 10px;
            overflow-y: auto;

            &__box {
                // border: 1px solid red;
                height: 60px;
                background-color: var(--container-background-color);
                border-radius: 10px;
                padding: 0 20px 0 20px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                flex-direction: row;
                font-size: 12px;
                justify-content: space-between;
                gap: 10px;
                cursor: pointer;

                &__left {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    // border: 1px solid red;
                    width: 90%;
                }

                &__right {
                    // border: 1px solid blue;
                    width: 10%;
                    text-align: right;
                    color: #313131;
                    font-weight: 500;
                    font-size: 14px;
                }


            }
        }

    }
}

.content-icon {
    background-color: rgba(255, 255, 255, 0.30);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 100%;
}

.notification-status--read {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    background-color: #313131;
}

.notification-status--unread {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    background: var(--main-gradient);
}

