.primary-button {
    background: linear-gradient(104deg, rgba(78, 173, 217, 1) 23%, rgba(50, 143, 127, 1) 60%);
    padding: 10px 24px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.secondary-button {
    background: transparent;
    padding: 10px 24px;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        opacity: 0.5;
    }
}